@charset "utf-8";
/* CSS Document */
		body{
			background-color:#F4C913;
		}
		h2{
			color:red;
			text-align: center;
		}
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		th, td {
		  padding: 15px;
		}
		div {
		 border-bottom: 6px solid red;
		}
